body{
    background-image: url("../img/fundo/imgfundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    color: #EEEEEE;
    font-size: 1.2em;
    margin-top: 5%;
    margin-bottom: 6%;
    text-align: center;
}

h5{
    color: #EEEEEE;
}

.color-button{
    background-color: #026873;
    color: white;
}

.color-button hover{

    transition: 0.5s;    
    background-color: #0D0003;
}

.fundo_nav{

    background-color: #026873;

}

.text-nav{

    color: #cfcfcf;
}

.color-card{

    background-color: #024040;
}


.cor_nav{

    color: brown;

}

.texto{

    padding-top: 2%;

}

.texto-modal{

    color: black;
}

.fundo-modal{
    background-color: #024040;
}

.gif{

    margin-top: 5%;
}

.h1{

    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 3.5em;
    color: #EEEEEE;
}

.h4{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.7em;
    color: #EEEEEE;
}

.h5 {
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 0.8%;
}

.footer{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.espacamento-carrossel{
    margin-top: 5.5%;
}

@media screen and (max-width: 450px){
	.container{	
        margin-top: 5%;
        font-size: 100%
        }
    
    .h1{
        font-size: 2.5em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #EEEEEE;
    }

    .espacamento-carrossel{
        margin-top: 40%;
    }
}

@media screen and (min-width: 450px){
	.container{	
        margin-top: 5%;
        font-size: 100%
        }
    
    .h1{
        font-size: 2.5em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #EEEEEE;
    }

    .espacamento-carrossel{
        margin-top: 25%;
    }
}

@media screen and (min-width: 599px){
	.container{	
        margin-top: 5%;
        font-size: 100%
        }
    
    .h1{
        font-size: 2.5em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #EEEEEE;
    }

    .espacamento-carrossel{
        margin-top: 15%;
    }
}


@media screen and (min-width: 1000px){
	.container{	
        margin-top: 5%;
        font-size: 100%
        }
    
    .h1{
        font-size: 2.5em;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #EEEEEE;
    }

    .espacamento-carrossel{
        margin-top: 5%;
    }
}